.layout-container{
position: fixed;
  display: flex;
  justify-content: center;
  top: 0;
  width: 100%;
  z-index: 100;
  padding-top: 20px;
}
Navbar {
    //position: fixed;

}
Footer{
  bottom: 0;
  width: 100%;
}
