.page {
  display: flex;
  justify-content: center;
}

.content {
  flex: 1;
  max-width: 1000px;
}

.About-Me {
  padding: 10px;
}
.articleData {
  position: absolute;
  left: 10px;
  bottom: 20px;
}
