.page {
  padding: 70px 9vw;
}

@media (max-width: 600px) {

  .page {
    padding: 70px 0px;
  }

}
.profileMain {
  margin: 15px;
  height: 75px;
  width: 75px;
}

.profiles {
  display: flex;
  flex-direction: row;
  justify-content: left;
  padding: 0px 20px;
}
.profiles img {
  width: 25px;
  height: 25px;
  margin: 3px 5px;
}

.news {
  padding: 0px 0px 0px 20px;
  font-size: 3em;
  color: var(--text-primary)
}

.body {
  padding: 15px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  width: 100%;
}


.content {
  flex: 1;
  max-width: 1000px;
}

.articles{
  width: 60%;
}

.articles article {
  margin: 0px 0px 20px 0px;
}


.About-Me {
  padding: 10px;
  margin-left: auto;

}

.widget {
 margin-block-end: 0em;
 padding: 0px 0px 10px;
}

.About-Me, .articles {
  padding: 10px 25px 0px 25px;
  min-width: 300px;
  }

  @media (max-width: 600px) {

    .body {
      flex-direction: column;
    }
    .articles{
      width: 100%;
    }
  }
