.footer {
  display:flex;
  flex-direction: row;
  justify-items: center;
  justify-content: space-between;
  background-color: var(--background-secondary);
  padding: 24px 40px;
  border-top: 1px solid var(--edges);
}

@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
  }
}

.footer ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 24px;
}

.footer ul a {
  color: var(--text-primary);
  text-decoration: none;
}

.footer ul a:hover {
  color: var(--text-secondary);
  text-decoration: underline;
}

.footer p {
  color: var(--text-primary);
  font-size: 14px;
  margin: 0;
}
